

/*=================================
    CSS Index End
==================================*/


/*=================================
   01. Theme Base
==================================*/
/*------------------- 1.1. Mixin -------------------*/
@import 'base/mixin';

/*------------------- 1.2. Variable-------------------*/
@import 'base/variable';

/*------------------- 1.3. Typography -------------------*/
@import 'base/typography';  


/*=================================
    02. Reset
==================================*/
/*------------------- 2.1. Container -------------------*/
@import 'reset/container';

/*------------------- 2.2. Grid -------------------*/
@import 'reset/grid';

/*------------------- 2.3. Input -------------------*/
@import 'reset/input'; 

/*------------------- 2.4. Mobile Menu -------------------*/
@import 'reset/gtmenu';


/*=================================
    03. Utilities
==================================*/
/*------------------- 3.1. Preloader -------------------*/
@import 'utilities/preloader';

/*------------------- 3.2. Buttons -------------------*/
@import 'utilities/btns';

/*------------------- 3.3. Titles -------------------*/
@import 'utilities/titles';

/*------------------- 3.4. Common -------------------*/
@import 'utilities/common';  

/*------------------- 3.5. Animation -------------------*/
@import 'utilities/animation';

/*------------------- 3.6. Nice select -------------------*/
@import 'utilities/nice-select';

/*------------------- 3.7. Slider -------------------*/
@import 'utilities/slider';

/*------------------- 3.8. Text Sliding -------------------*/
@import 'utilities/textslide'; 

/*------------------- 3.9. Cursor Follower -------------------*/
@import 'utilities/cursor-follower'; 


/*=================================
    04. Template Style
==================================*/
/*------------------- 4.1. Widget  -------------------*/ 
@import 'template/widgets/widget-sidebar';
@import 'template/widgets/widget-footer';

/*------------------- 4.2. Header  -------------------*/
@import 'template/headers/header';

/*------------------- 4.3. Footer  -------------------*/
@import 'template/footers/footer';

/*------------------- 4.4. Breadcumb  -------------------*/
@import 'template/breadcumb/breadcumb'; 

/*------------------- 4.5. Blog  -------------------*/
@import 'template/sections/blog';
@import 'template/sections/blog-extra'; 

/*------------------- 4.6. Hero Area  -------------------*/
@import 'template/sections/hero';  

/*------------------- 4.7. Popup Search  -------------------*/
@import 'template/sections/popupsearch';

/*------------------- 4.8. Popup Side Menu  -------------------*/
@import 'template/sections/sidemenu';    

/*------------------- 4.9. Contact  -------------------*/
@import 'template/sections/contact';

/*------------------- 4.10. About  -------------------*/
@import 'template/sections/about';

/*------------------- 4.11. Team  -------------------*/
@import 'template/sections/team';
@import 'template/sections/team-extra';

/*------------------- 4.12. Testimonial  -------------------*/
@import 'template/sections/testimonial';

/*------------------- 4.13. Counter  -------------------*/
@import 'template/sections/counter';

/*------------------- 4.14. Blog  -------------------*/
@import 'template/sections/blog-extra'; 

/*------------------- 4.15. Simple Sections  -------------------*/
@import 'template/sections/simple-sections'; 

/*------------------- 4.16. Faq  -------------------*/
@import 'template/sections/faq';

/*------------------- 4.17. Cta  -------------------*/
@import 'template/sections/cta';

/*------------------- 4.18. Service  -------------------*/
@import 'template/sections/service';
@import 'template/sections/service-extra';

/*------------------- 4.19. Pricing  -------------------*/
@import 'template/sections/pricing';

/*------------------- 4.20. Why choose Us  -------------------*/
@import 'template/sections/wcu'; 

/*------------------- 4.21. Work Process  -------------------*/
@import 'template/sections/work-process';

/*------------------- 4.22. Project  -------------------*/
@import 'template/sections/project';  

/*------------------- 4.23. Download App -------------------*/
@import 'template/sections/download-app'; 

/*------------------- 4.24. Offering  -------------------*/  

@import 'template/sections/offering';

/*------------------- 4.25. Video  -------------------*/
@import 'template/sections/video';

/*------------------- 4.26. Screenshots  -------------------*/
@import 'template/sections/screenshots';

/*------------------- 4.27. Skill  -------------------*/
@import 'template/sections/skill';

/*------------------- 4.28. Contact  -------------------*/
@import 'template/sections/contact';


/*=================================
    05. Spacing
==================================*/
@import 'spacing/spacing';  